# General
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
.venv/
pip-wheel-metadata/

# Cython outputs (generated)
python/audio_wrapper.c
python/audio_wrapper.cpp
python/audio_wrapper.cp*-win_amd64.*.pyd

# Build / packaging
build/
dist/
*.spec
!Nuummite.spec

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
build-debug/
build-release/
build-ninja*/
compile_commands.json
Testing/
CTestTestfile.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

# Visual Studio / MSVC
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj*
*.VC.db
*.idb
*.pdb
*.ipdb
*.iobj
*.ilk
*.obj
*.exp
*.lib
*.tlog
*.lastbuildstate

# Logs
*.log

# IDEs
.vscode/
.idea/
